* {
    box-sizing: border-box;
    font-family: 'Lucida Sans';
}

@media(max-width: 640px) {
    *{
        background-color: black;
        color: white;
    }

    #counter,
    #succ,
    #crit {
        width: 200px;
        background-color: transparent;
        padding: 7px;
        color: limegreen;
        border: 3px solid limegreen;
        border-radius:5px;
        margin-top: 10px;
        margin-left: 20%;
        text-align: center;
    }
    
    * :focus{
    outline: none;
    }
    
    * input{
        background-color: transparent;
        padding: 7px;
        color: limegreen;
        border: 3px solid limegreen;
        border-radius:5px;
        margin-top: 10px;
        margin-left: 20%;
    }

    * button{
        background-color: transparent;
        padding: 7px;
        color: limegreen;
        border: 3px solid limegreen;
        border-radius:5px;
        margin-top: 10px;
        margin-left: 40%
    }
}